/* Changes background on all pages */
#background {
    background-color: #72a0f0 !important;
}
/* Formatting for just the porfoio images */
.portfolio-images {
    width: 30%;
    height: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

img {
  width: 40px;
  height: 40px;
}
.nav-link {
    color: black !important;
}

a {
    font-family: 'Staatliches', cursive !important;
    font-size: 22px !important;
    
}
#me {
    width: 250px !important;
    height: 347px !important;
    margin-right: 10px !important;
}

p {
    margin-left: 15px !important;
    margin-right: 15px !important;
}

h4 {
    margin-left: 15px !important;
    margin-right: 15px !important;
    padding-top: 15px !important;
}

hr {
    margin-left: 15px !important;
    margin-right: 25px !important;
    margin-bottom: 25px !important;
}

.card {
    margin-top: 65px !important;
    min-width: 380px !important;
    color: whitesmoke;
    border-color: wheat !important;
    font-family: 'Roboto', sans-serif;
    
}

.container {
    max-width: 660px !important;
    margin-left: auto !important;
    /* display:inline-flexbox !important; */
}
@media screen and (max-width:400px) {
    .container {
      width:100% !important;
      margin:auto !important;
    }
}

/* Contact.html */
    #exampleInputMessage {
        height: 80px !important;
    }


