img {
    width: 200px !important;
    height: 200px !important;
    margin-right: 10px !important;
}
p {
    margin-left: 15px !important;
    margin-right: 15px !important;
}
h4 {
    margin-left: 15px !important;
    margin-right: 15px !important;
    padding-top: 15px !important;
}